@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

.login {
  /* Styles for the login container */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginContainer {
  /* Styles for the login container */
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginTitle {
  /* Styles for the login title */
  font-size: 24px;
  font-weight: bold;
}

.loginForm {
  /* Styles for the login form */
  display: flex;
  flex-direction: column;
}

.formGroup {
  /* Styles for the form group */
  margin-bottom: 16px;
}

label {
  /* Styles for the labels */
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
  /* Styles for the text inputs */
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginButton {
  /* Styles for the login button */
  text-align: center;
  background-color: #0a9a73;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #0a9a73;

  }
}

.forgotPasswordLink {
  /* Styles for the forgot password link */
  color: #0a9a73;
  text-decoration: none;
  margin-right: 185px;
}

.registerLink {
  /* Styles for the register link */
  color: #0a9a73;
  text-decoration: none;

}

.socialLogin {
  /* Styles for the social login section */
  margin-top: 16px;
}

.socialButtons {
  /* Styles for the social buttons container */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.googleButton,
  .facebookButton,
  .gmailButton {
    /* Styles for the social buttons */
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 8px;
    padding: 20px;
    height: 2em;
    overflow: visible;
    vertical-align: 1.875em;

    .svg-inline--fa {
      display: inline-block;
      height: 2em;
      overflow: visible;
      vertical-align: -0.125em;
    }
  }

  .googleButton {
    /* Increase the size of the Google button */
    font-size: 35px;
  }

  .facebookButton {
    /* Increase the size of the Facebook button */
    font-size: 35px;
  }

  .gmailButton {
    /* Increase the size of the Gmail button */
    font-size: 35px;
  }
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
