.cart {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}

.cart h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.total span:first-child {
    margin-right: 10px;
}

.continueShopping {
    display: block;
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
    padding: 10px;
    background-color: #337ab7;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
    pointer-events: none;
}

.checkout {
    display: block;
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
    padding: 10px;
    background-color: #5cb85c;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    pointer-events: none;
}
.buttonContainer {
    width: 210px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-between;
}
.buttonContainer1 {
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-between;
}

.cancelButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.checkout:hover,
.continueShopping:hover {
    opacity: 0.8;
}

.cancel-order {
    cursor: pointer;
}