/* CartItem.module.scss */

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.productImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.productInfo {
  flex: 1;
}

.quantityContainer {
  display: flex;
  align-items: center;
}

.quantityContainer button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
}

.removeButton {
  border: none;
  background-color: transparent;
  color: red;
  font-size: 16px;
  cursor: pointer;
}
.itemIndex {
  font-weight: bold;
  margin-right: 10px;
}
